html {
    cursor: url(imagens/mata_mosca.png) 30 30, auto;
}

body {
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.mosquito1 {
    width: 25px;
    height: 25px;
}

.mosquito2 {
    width: 55px;
    height: 55px;
}

.mosquito3 {
    width: 75px;
    height: 75px;
}

.ladoA {
    transform: scaleX(1);
}

.ladoA {
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    width: 190px;
    left: 0px;
    padding: 10px;
    bottom: 0px;
    border-top: solid 1px #FFF;
    background-color: #FFF;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

